@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'El Messiri';
    src: url('../Glowing/assets/fonts/El_Messiri/ElMessiri-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'El Messiri';
    src: url('../Glowing/assets/fonts/El_Messiri/ElMessiri-Medium.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'El Messiri';
    src: url('../Glowing/assets/fonts/El_Messiri/ElMessiri-Regular.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'El Messiri';
    src: url('../Glowing/assets/fonts/El_Messiri/ElMessiri-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  